div#headerDiv {
    background-color: #897d7d;
    color: white;
    overflow: auto;
}
p {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
header {
    width: 750px;
    margin: 0 auto;
}
div#basic {
    width: 250px;
    float: left;
    margin: 12px;
}
header nav {
    width: 450px;
    float: right;
    background-color: darkgray;
    margin: 12px;
}
header nav ul li {
    display: inline;
    margin-right: 27px;
}

header nav ul li:hover{
    color: orange;
    font-size: 30px;
    background-color: aqua;
    text-decoration: underline;
    text-transform: lowercase;
}
div#imageDiv {
    width: 750px;
    margin: 0 auto;
    margin-top: 10px;
}
#imageDiv img {
    width: 750px;
}
div#parentDiv {
    width: 750px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 10px;
}
.divs {
    width: 230px;
    float: left;
    margin: 0 28px 0 0;
}
figure {
    margin-left: 0;
    border: 1px solid;
    padding: 5px;
    width: 220px;
}
figure img {
    width: 220px;
}
.div3 {
    width: 232px;
    float: right;
}
figcaption a {
    float: right;
    color: orange;
    font-size: 10px;
}
strong {
    font-style: italic;
}
div#articleParent {
    width: 750px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 10px;
}
article {
    width: 340px;
    float: left;
}
div#articleImage {
    width: 330px;
    float: right;
    border: 1px solid;
    padding: 3px;
    margin-top: 30px;
}
#articleImage img {
    width: 330px;
}
article a{
    text-decoration: none;
    font-size: 13px;
    color: orange;

}
#articleA a {
    font-size: 10px;
    text-decoration: underline;
    float: right;
}
div#linkSections {
    background-color: #463f3f;
}
div#divsectionDivs {
    width: 750px;
    margin: 0 auto;
    overflow: auto;
}
section {
    width: 180px;
    float: left;
}
section nav {
    width: 170px;
}
section nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
section nav ul li {
    line-height: 1.5;
    border-bottom: 1px solid;
}

section h3 {
    font-size: 13px;
}
section nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: orange;
    font-family: Georgia, "Times New Roman", Times, serif;
}
footer {
    background-color: #262323;
    margin-top: 0px;
}
div#footerDiv {
    width: 750px;
    margin: 0 auto;
    color: white;
    overflow: auto;
}
#footerDiv p {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    float: left;
   
}
footer #rightPara{
    float: right;

}